.address-search {
  position: sticky;
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #eee;

  &__filters {

  }

  &__input {
    margin-bottom: 1.25rem !important;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }
}