.app {
  display: flex;
  flex-direction: column;

  &__body {
    height: 100%;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fdfdfd;
  }
}